

@{
    Layout = "_adminLayout";
    List<FormModel> orders = Model;
}

<h2>Siparişler</h2>

<table class="table table-striped mb-0 align-middle">
    <thead class="table">
        <tr>
            <th>Müşteri Bilgileri</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th style="width:180px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FormModel item in Model)
        {
            <tr>
                <td>@item.Name @item.Surname</td>
                <td>@item.CreatedDate</td>
                @if(item.IsActive)
                {
                    <td>
                        <span class="badge bg-success">Aktif</span>
                    </td>
                }
                else{
                    <td>
                        <span class="badge bg-danger">Aktif Değil</span>
                    </td>   
                }
                <td>
    @Html.ActionLink("Detay", "OrderDetail", "Admin", new { id = item.Id }, new { @class = "btn btn-sm btn-primary me-2 w-75" })
    @Html.ActionLink("Durumu Değiştir", "ChangeOrderStatus", "Admin", new { id = item.Id }, new { @class = "btn btn-sm btn-warning w-75 mt-2" })
</td>

            </tr>
        }
    </tbody>
</table>
