@model ProductModel
@using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="mb-3">
        @Html.LabelFor(x => x.ProductTitle)
        @Html.TextBoxFor(x => x.ProductTitle, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.ProductDescription)
        @Html.TextBoxFor(x => x.ProductDescription, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.CategoryId)
        @Html.DropDownListFor(
            x => x.CategoryId,
            new SelectList(ViewBag.Categories, "Id", "Name"),
            "Kategori Seçiniz",
            new { @class = "form-select" }
        )
    </div>

    <div class="mb-3">
        <label>Ürün Fotoğrafı</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
}
